@import '~node_modules/modern-normalize/modern-normalize.css';

img {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.search-form {
  background-color: blue;
}

.gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.photo-card {
  width: calc((100% - 15px * 3) / 4);
  border: 1px solid grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
}
